@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: hsl(237, 100%, 70%);
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 36%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 1%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 7%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    left: 71%;
    width: 158px;
    height: 158px;
    bottom: -158px;
    animation-delay: 13s;
}
.background li:nth-child(4) {
    left: 27%;
    width: 185px;
    height: 185px;
    bottom: -185px;
    animation-delay: 18s;
}
.background li:nth-child(5) {
    left: 65%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 17s;
}
.background li:nth-child(6) {
    left: 9%;
    width: 114px;
    height: 114px;
    bottom: -114px;
    animation-delay: 30s;
}
.background li:nth-child(7) {
    left: 35%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 1s;
}
.background li:nth-child(8) {
    left: 12%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 2s;
}
.background li:nth-child(9) {
    left: 19%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 11s;
}