* {
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}
.card{
    width: 90%;
    max-width: 470px;
    background: rgba(171, 199, 255, 0.5);
    color: #FFF;
    margin:  100px auto 0;
    border-radius:  20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px auto;
    input{
        border: 0;
        outline: 0;
        background: rgba(255, 255, 255, 0.5);
        color: #3b3b3b;
        padding: 10px 25px;
        height: 3.75rem;
        border-radius: 2rem;
        flex: 1;
        font-size: 1.2rem;
    }
    button{
        margin-left: 1rem;
        border: none;
        height: max-content;
        width: fit-content;
        border-radius: 50%;
        background: rgba(235, 255, 252, 0.5);

        cursor: pointer;
        img{
            height: 2rem;
            width: 2rem;
        }
    }
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.weather{ 
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.weather-icon{
    margin-top: 10px;
    height: 8rem;
    width: 8rem;
}
.col{
    img{
        height: 4rem;
        width: 4rem; 
    }
}
@media (max-width: 768px) {
    .search{
        flex-direction: column;
        justify-content: flex-start;
        button{
            margin-top: 4px;
            width: 100%;
            border-radius: 6px;
        }
    }
}